$font: Arial, Regular;


  @media (max-width: 599px) { 
    .wrapper{
      display: flex;
  
    }

    .header{
      height: 40.9375rem;
      width: 100%;
      background-image: url("../images/header_bg.png");
    }
  }


  @media (min-width: 600px) {  }


  @media (min-width: 900px) {  }


  @media (min-width: 1200px) {  }


  @media (min-width: 1800px) {  }



