@import "normolize.css";

@import '_breakpoints';
@import "mixins";
@import "variables";
@import "modalWindow";

@import "header";
@import "form";
@import "modalWindow";
@import "cards";
@import "promo";
@import "description";


  .wrapper {

    font-family: $font;
    @include flex-column;
    @include header;
    @include cards;
    @include promo;
    @include description;
  }


  @media screen and(min-width: 1800px) {
    .wrapper {
      margin: 0 auto;
      width:75rem;
      font-family: $font;
      @include flex-column;
      @include header;
      @include cards;
      @include promo;
      @include description;
    }
  }

